<header class="navbar">
  <div class="navbar__container">
    <div class="navbar__brand">
      <h1>Clínica XYZ</h1>
    </div>
    <nav class="navbar__links">
      <ul>
        <!-- Accesos para todos los usuarios -->
        <li *ngIf="!isLoggedIn">
          <a routerLink="/login" routerLinkActive="active" class="navbar__link" (click)="navigateTo('/login')" appHoverColorHeader>Login</a>
        </li>
        <li *ngIf="!isLoggedIn">
          <a routerLink="/registro" routerLinkActive="active" class="navbar__link" (click)="navigateTo('/registro')" appHoverColorHeader>Registro</a>
        </li>
        <li *ngIf="isLoggedIn">
          <a routerLinkActive="active" class="navbar__link" (click)="cerrarSesion()" appHoverColorCerrarSesion>Cerrar Sesión</a>
        </li>

        <!-- Acceso exclusivo para Administradores -->
        <li *ngIf="isAdmin">
          <a routerLink="/seccion-usuarios" routerLinkActive="active" class="navbar__link" (click)="navigateTo('/seccion-usuarios')" appHoverColorHeader>Usuarios</a>
        </li>
        <li *ngIf="isAdmin">
          <a routerLink="/turnos" routerLinkActive="active" class="navbar__link" (click)="navigateTo('/turnos')" appHoverColorHeader>Turnos</a>
        </li>
        <li *ngIf="isAdmin">
          <a routerLink="/solicitar-turno" routerLinkActive="active" class="navbar__link" (click)="navigateTo('/solicitar-turno')" appHoverColorHeader>Solicitar Turno</a>
        </li>
        <li *ngIf="isAdmin">
          <a routerLink="/mi-perfil" routerLinkActive="active" class="navbar__link" (click)="navigateTo('/mi-perfil')" appHoverColorHeader>Mi Perfil</a>
        </li>

        <!-- Acceso a "Mis Turnos" para Pacientes -->
        <li *ngIf="isPaciente">
          <a routerLink="/mis-turnos" routerLinkActive="active" class="navbar__link" (click)="navigateTo('/mis-turnos')" appHoverColorHeader>Mis Turnos</a>
        </li>
        <li *ngIf="isPaciente">
          <a routerLink="/mi-perfil" routerLinkActive="active" class="navbar__link" (click)="navigateTo('/mi-perfil')" appHoverColorHeader>Mi Perfil</a>
        </li>
        <li *ngIf="isPaciente">
          <a routerLink="/solicitar-turno" routerLinkActive="active" class="navbar__link" (click)="navigateTo('/solicitar-turno')" appHoverColorHeader>Solicitar Turno</a>
        </li>

        <!-- Acceso a "Mis Turnos" y "Mi Perfil" para Especialistas -->
        <li *ngIf="isEspecialista">
          <a routerLink="/mis-turnos-especialista" routerLinkActive="active" class="navbar__link" (click)="navigateTo('/mis-turnos-especialista')" appHoverColorHeader>Mis Turnos</a>
        </li>
        <li *ngIf="isEspecialista">
          <a routerLink="/mi-perfil" routerLinkActive="active" class="navbar__link" (click)="navigateTo('/mi-perfil')" appHoverColorHeader>Mi Perfil</a>
        </li>
        
        <!-- Acceso a "Informes" para Administradores -->
        <li *ngIf="isAdmin">
          <a routerLink="/informes-administrador" routerLinkActive="active" class="navbar__link" (click)="navigateTo('/informes-administrador')" appHoverColorHeader>Informes</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<!-- Contenido Principal -->
<div class="home-content">
  <div *ngIf="!isLoggedIn" class="welcome-container">
    <h2>Bienvenido a la Clínica XYZ!</h2>
    <p>Para acceder a todas nuestras funcionalidades, por favor inicie sesión o registre una cuenta.</p>
  </div>
  
  <div *ngIf="isLoggedIn" class="logged-in-container">
    <h2>Bienvenido de nuevo a la Clínica XYZ!</h2>
    <p>
      Aquí podrás gestionar tus turnos, acceder a información sobre los profesionales de la salud, 
      y realizar diversas acciones relacionadas con la clínica. 
      Puedes seleccionar una especialidad y solicitar turnos en los horarios disponibles.
    </p>
  </div>
</div>
