<header class="navbar">
  <div class="navbar__container">
    <div class="navbar__brand">
      <h1>Clínica XYZ</h1>
    </div>
    <nav class="navbar__links">
      <ul>
        <li><a routerLink="/login" routerLinkActive="active" class="navbar__link" (click)="navigateTo('/login')">Login</a></li>
        <li><a routerLink="/registro" routerLinkActive="active" class="navbar__link" (click)="navigateTo('/registro')">Registro</a></li>
        <li *ngIf="isAdmin"><a routerLink="/seccion-usuarios" routerLinkActive="active" class="navbar__link" (click)="navigateTo('/seccion-usuarios')">Usuarios</a></li>
        <li><button class="cerrar-sesion-button" (click)="cerrarSesion()">Cerrar Sesión</button></li>
      </ul>
    </nav>
  </div>
</header>

<main>
  <h2>Bienvenido a la Clínica XYZ</h2>
  <p>Seleccione una opción para comenzar...</p>
</main>
