<!-- Mostrar Pacientes (solo para administradores) -->
<div *ngIf="esAdministrador && pacientes.length > 0 && !pacienteSeleccionado" class="pacientes-container">
  <h3>Seleccione un paciente:</h3>
  <div class="pacientes-grid">
    <button *ngFor="let paciente of pacientes" class="paciente-button" (click)="seleccionarPaciente(paciente)">
      <img [src]="paciente.imagenPerfil || '../assets/default-user.png'" alt="Paciente {{ paciente.nombre }}" class="paciente-imagen">
      <span class="span-paciente">{{ paciente.apellido }}, {{ paciente.nombre }}</span>
    </button>
  </div>
</div>

<!-- Mostrar paciente seleccionado -->
<div *ngIf="pacienteSeleccionado" class="paciente-seleccionado-container">
  <h3>Paciente Seleccionado:</h3>
  <p>{{ pacienteSeleccionado.apellido }}, {{ pacienteSeleccionado.nombre }}</p>
</div>

<!-- Mostrar Especialidades -->
<div *ngIf="!seleccionEspecialidad && (!esAdministrador || pacienteSeleccionado)" class="especialidades-container">
  <h3>Seleccione una especialidad:</h3>
  <div class="especialidades-grid">
    <button *ngFor="let especialidad of especialidades" class="especialidad-button" (click)="seleccionarEspecialidad(especialidad.nombre)">
      <span>{{ especialidad.nombre }}</span>
      <img [src]="especialidad.imagen" alt="Especialidad {{ especialidad.nombre }}">
    </button>
  </div>
</div>

<!-- Mostrar Especialidad Seleccionada -->
<div *ngIf="seleccionEspecialidad" class="especialidad-seleccionada-container">
  <h3>Especialidad Seleccionada:</h3>
  <p>{{ seleccionEspecialidad }}</p>
</div>

<!-- Mostrar Especialistas solo si hay una especialidad seleccionada -->
<div *ngIf="seleccionEspecialidad && !seleccionEspecialista && especialistas.length > 0" class="especialistas-container">
  <h3>Seleccione un especialista:</h3>
  <div class="especialistas-grid">
    <button *ngFor="let especialista of especialistas" class="especialista-button" (click)="seleccionarEspecialista(especialista)">
      <span class="span-especialista">{{ especialista.apellido }}, {{ especialista.nombre }}</span>
      <img [src]="especialista['imagenPerfil'] || 'assets/default-specialist.png'" alt="{{ especialista.nombre }}">
    </button>
  </div>
</div>

<!-- Mostrar Especialista Seleccionado -->
<div *ngIf="seleccionEspecialista" class="especialista-seleccionado-container">
  <h3>Especialista Seleccionado:</h3>
  <p>{{ seleccionEspecialista.apellido }}, {{ seleccionEspecialista.nombre }}</p>
</div>

<!-- Mostrar Días Disponibles solo si se selecciona un especialista -->
<div *ngIf="seleccionEspecialista && !seleccionDia && diasDisponibles.length > 0" class="dias-container">
  <h3>Seleccione un día disponible:</h3>
  <div class="dias-grid">
    <button *ngFor="let dia of diasDisponibles" class="dia-button" (click)="seleccionarDia(dia)">
      {{ dia | fechaEspanol }}
    </button>
  </div>
</div>

<!-- Mostrar Día Seleccionado -->
<div *ngIf="seleccionDia" class="dia-seleccionado-container">
  <h3>Día Seleccionado:</h3>
  <p>{{ seleccionDia | fechaEspanol }}</p>
</div>

<!-- Mostrar Horarios disponibles solo si se selecciona un día -->
<div *ngIf="seleccionDia && horariosDisponibles.length > 0" class="horarios-container">
  <h3>Seleccione un horario disponible:</h3>
  <div class="horarios-grid">
    <button *ngFor="let horario of horariosDisponibles" class="horario-button" (click)="solicitarTurno(horario)">
      {{ horario }}
    </button>
  </div>
</div>

<!-- Mensaje si no hay horarios disponibles -->
<div *ngIf="seleccionDia && horariosDisponibles.length === 0" class="no-horarios">
  <p>No hay horarios disponibles para este día.</p>
</div>
