.registro-container {
    max-width: 600px;
    margin: 100px auto;
    text-align: center;
  }
  
  .registro-boton {
    width: 80%;
    margin: 20px auto;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0f7fa;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  .registro-boton:hover {
    transform: scale(1.1);
  }
  
  .registro-imagen {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
  }
  
  .registro-paciente {
    background-image: url('../../../assets/paciente.png');
  }
  
  .registro-especialista {
    background-image: url('../../../assets/especialista.png');
  }
  
  .registro-form {
    max-width: 600px;
    margin: auto;
    background-color: #e0f7fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 1s cubic-bezier(0.25, 1, 0.5, 1);
  }
  
  h2 {
    color: #00695c;
  }
  
  button {
    margin: 10px;
    padding: 10px;
    background-color: #00695c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button.active {
    background-color: #004d40;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="file"] {
    border: none;
  }
  
  button[type="submit"] {
    background-color: #00796b;
  }
  
  button[type="submit"]:hover {
    background-color: #004d40;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
    margin-top: 20px;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-30px) scale(0.9);
    }
    50% {
      opacity: 0.5;
      transform: translateY(-15px) scale(1.05);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .registro-texto {
    font-size: 1.5em;
    color: #004d40;
    font-weight: bold;
  }
  

  .error {
    color: #ff0000;
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }
  
  input.ng-invalid.ng-touched {
    border: 1px solid #ff0000;
  }


  .loading-spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; // El spinner ocupa toda la pantalla
  }
  
  .loading-spinner {
    border: 8px solid #f3f3f3; /* Color de fondo */
    border-top: 8px solid #3498db; /* Color del spinner */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  