.perfil-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 50px;
  }
  
  .perfil-info {
    text-align: left;
  }
  
  .perfil-imagen-container {
    display: flex;
    justify-content: center;
    margin: 15px 0;
  }
  
  .perfil-imagen {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .disponibilidad-container {
    margin-top: 20px;
    text-align: left;
  }
  
  .dia-container {
    margin-bottom: 20px;
  }
  
  .horarios-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .horario-card {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .horario-card.selected {
    background-color: #4caf50;
    color: #fff;
  }
  
  .horario-card:hover {
    background-color: #e0e0e0;
  }
  
  .btn-update, .btn-download {
    margin-top: 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-update:hover, .btn-download:hover {
    background-color: #45a049;
  }
  

  .loading-spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; // El spinner ocupa toda la pantalla
  }
  
  .loading-spinner {
    border: 8px solid #f3f3f3; /* Color de fondo */
    border-top: 8px solid #3498db; /* Color del spinner */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }