.titulo-turnos {
  text-align: center;
  margin-bottom: 20px;
}

.form-filtro {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;

  .input-filtro {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .btn-filtrar {
    padding: 8px 15px;
    border: none;
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn-filtrar:hover {
    background-color: #45a049;
  }
}

.tabla-turnos {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: white;

  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }

  th {
    background-color: #f2f2f2;
  }

  .pendiente {
    color: orange;
  }

  .Aceptado {
    color: green;
  }

  .Rechazado,
  .Cancelado {
    color: red;
  }

  .Realizado {
    color: blue;
  }

  .btn-accion {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn-accion:hover {
    background-color: #0056b3;
  }
}

.sin-turnos {
  text-align: center;
  margin-top: 20px;
}



.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // El spinner ocupa toda la pantalla
}

.loading-spinner {
  border: 8px solid #f3f3f3; /* Color de fondo */
  border-top: 8px solid #3498db; /* Color del spinner */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}






.formulario-historia-clinica {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.titulo-historia-clinica {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.input-historia-clinica {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-guardar {
  display: block;
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-guardar:hover {
  background-color: #45a049;
}