.seccion-usuarios-container {
    padding: 20px;
  }
  
  .boton-nuevo-usuario {
    background-color: #00796b;
    color: #ffffff;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .formulario-container {
    margin-bottom: 20px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
  }
  
  .usuarios-lista table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .usuarios-lista th, .usuarios-lista td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .usuarios-lista th {
    background-color: #00796b;
    color: white;
  }
  
  button {
    background-color: #00796b;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #004d40;
  }
  
  img {
    border-radius: 50%;
    object-fit: cover;
  }
  

  .loading-spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; // El spinner ocupa toda la pantalla
  }
  
  .loading-spinner {
    border: 8px solid #f3f3f3; /* Color de fondo */
    border-top: 8px solid #3498db; /* Color del spinner */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  